@model HomeViewModel

<div class="text-center">
    <h1>Kursy miesiąca</h1>
    <h5>Ulubione kursy w tym miesiącu</h5>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var course in Model.CoursesOfTheMonth)
    {
        <partial name="_CourseCard" model="course" />
    }
</div>
