<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Dev-hobby.pl</title>
    <meta name="description" content="">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>

    <partial name="_Nav" />

    <partial name="_Carousel" />

    <main class="album py-5 bg-body-tertiary">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </main>

</body>
</html>

