<nav class="navbar bg-body-tertiary navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand"
               asp-controller="Home"
               asp-action="Index">
                <img src="~/Images/dev-hobby-logo.png" alt="Dev-Hobby.pl">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       asp-controller="Home"
                       asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Kontakt</a>
                </li>
                <vc:category-menu></vc:category-menu>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Szukaj">
                <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>
            <partial name="_LoginPartial" />
            <vc:shopping-cart-summary></vc:shopping-cart-summary>
        </div>
    </div>
</nav>